/*
 * Top-level layout...
 */

body {
    margin-top: 5%;
    margin-left: 50%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
}

div.controls {
    font: 14px sans-serif;
    margin-bottom: 26px;
    float: left;
}

/*
 * Wide-screen layout.
 */
@media (min-width: 751px) {
    div.page {
        margin-left: -300px;
    }
    div.controls {
        width: 200px;
    }
    div.slider {
        margin-top: 20px;
    }
    div.controls.thinking div.spinner.thinking {
        margin-top: 50px;
        margin-left: 60px;
    }
}

/*
 * Narrow-screen layout.
 */
@media (max-width: 750px) {
    div.page {
        margin-left: -200px;
    }
    div.controls {
        width: 400px;
        height: 90px;
        padding-left: 16px;
    }
    div.buttons {
        height: 44px;
    }
    div.controls.thinking div.spinner.thinking {
        margin-top: 12px;
    }
}

div.boardFrame {
    float: left;
    height: 400px;
    width: 400px;
}

div.results {
    float: left;
    margin-left: 40px;
}

/*
 * User controls...
 */
 
div.sliders {
    margin-left: 10px;
}
div.slider {
    float: left;
    margin-right: 30px;
}

button {
    margin: 10px;
    width: 100px;
    height: 24px;
    font-size: 14px;
    background: #ccc;
    border: none;
}
button:hover {
    background: #ddd;
}

label {
    /*clear: both;*/
    display: block;
    float: left;
    margin-right: 6px;
}
.paramValue {
    color: #666;
    float: left;
}
input {
    margin-top: 4px;
    clear: both;
    float: left;
}

/*
 * Busy spinner...
 */
div.spinner.thinking {
    display: none;
}
div.controls.thinking div.spinner.thinking {
    display: block;
    float: left;
}
.spinner {
    background: url(spinner.gif);
    width: 32px;
    height: 32px;
}



/*
 * SVG elements...
 */
circle {
    opacity: 0;
}

svg.tile circle {
    opacity: 1;
}

svg.tile.canMove circle {
    cursor: pointer;
    transition: opacity 400ms;
}
svg.tile.canMove text {
    cursor: pointer;
}
svg.tile.canMove:hover circle,
svg.tile.canMove.solved:hover circle {
    opacity: 0.6;
}

svg.board.solved svg.tile.solved circle,
svg.board.solved svg.tile.canMove.solved circle,
svg.board.solved svg.tile.canMove:hover circle,
svg.board.solved svg.tile.canMove.solved:hover circle {
    fill: rgb(0, 160, 0);
}
svg.tile.solved circle,
svg.tile.canMove.solved circle {
    fill: rgb(0, 160, 0);
}

svg.tile text {
    fill: #111;
    font-family: serif;
    text-anchor: middle;
    transition: fill 400ms;
}

