/*
 * Top-level layout...
 */

body {
    margin-top: 5%;
    margin-left: 20%;
}

div.controls {
    width: 200px;
    float: left;
    font: 14px sans-serif;
    margin-bottom: 40px;
}

div.boardFrame {
    float: left;
}

div.results {
    float: left;
    margin-left: 40px;
}

/*
 * User controls...
 */
 
div.sliders {
    margin-left: 10px;
}

button {
    margin: 10px;
    width: 100px;
    height: 24px;
    font-size: 14px;
}
button:hover {
    background: #ddd;
}

label {
    clear: both;
    display: block;
    margin-top: 20px;
    float: left;
    margin-right: 6px;
}
.paramValue {
    color: #666;
    float: left;
    margin-top: 20px;
}
input {
    margin-top: 4px;
    clear: both;
    float: left;
}

/*
 * Busy spinner...
 */
div.spinner.thinking {
    display: none;
}
div.controls.thinking div.spinner.thinking {
    display: block;
    margin-top: 143px;
}
.spinner {
    background: url(spinner.gif);
    width: 32px;
    height: 32px;
}



/*
 * SVG elements...
 */
circle {
    opacity: 0;
}

svg.tile circle {
    opacity: 1;
}

svg.tile.canMove circle {
    cursor: pointer;
    transition: opacity 400ms;
}
svg.tile.canMove text {
    cursor: pointer;
}
svg.tile.canMove:hover circle,
svg.tile.canMove.solved:hover circle {
    opacity: 0.6;
}

svg.board.solved svg.tile.solved circle,
svg.board.solved svg.tile.canMove.solved circle,
svg.board.solved svg.tile.canMove:hover circle,
svg.board.solved svg.tile.canMove.solved:hover circle {
    fill: rgb(0, 160, 0);
}
svg.tile.solved circle,
svg.tile.canMove.solved circle {
    fill: rgb(0, 160, 0);
}

svg.tile text {
    fill: #111;
    font-family: serif;
    text-anchor: middle;
    transition: fill 400ms;
}

